<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>web-test-one</title>

	</head>
<body>
<header>
	<div class="top-img-con"></div>
	<div class="nav-con">
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#"><img src="/images/tugboat-logo.gif" alt=""></a>
		      <span class="since">PULLING YOU ALOND SINCE 2000.</span>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a href="#"><span class="top">HOME</span> <br> <span class="bottom">News and Trands</span></a></li>
		        <li><a href="#"><span class="top">OUR COFFEE</span> <br> <span class="bottom">Handcrafted Beans</span></a></li>
		        <li><a href="#"><span class="top">STORE</span> <br> <span class="bottom">Shop Online</span></a></li>
		        <li><a href="#"><span class="top">ABOUT</span> <br> <span class="bottom">Company Info</span></a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</div>
</header>

<div id="main">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-sm-9 col-xs-12">
				<div class="search">
					<input type="text" placeholder="Find a Location">
					<img src="/images/cup.png" alt="" class="cup">
					<p>
						<img src="/images/icon-toggle.gif" alt="" class="icon">
						<span>Advanced Options</span>
					</p>
				</div>
				<p class="h4-title">This Week's Special</p>

				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="img-con">
							<a href="">
								<img src="/images/boat.jpg" alt="">
								<p class="img-desc"><i>Fisherman's Brew <br><span>$9.99 /1b.</span></i></p>
							</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="img-con">
							<a href="">
								<img src="/images/ropes.jpg" alt="">
								<p class="img-desc"><i>Boathouse Bold <br><span>$12.50 /1b.</span></i></p>
							</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="img-con">
							<a href="">
								<img src="/images/fame.jpg" alt="">
								<p class="img-desc"><i>Deadly Decaf <br><span>$7.49 /1b.</span></i></p>
							</a>
						</div>
					</div>
				</div>
				<p class="h4-title">Coffee News & Goings On</p>
				<p class="red-title">New Coffee Varieties</p>				
				<div class="row index-left">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<p><b>MAY 13, 2009</b></p>			
						<p>Posted at 10:14 AM</p>			
						<p>by Bernard Milken</p>			
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<p>Existing module bundlers are not well suited for big projects (big single page applications). The most pressing reason for developing another module bundler was <span style="color:#3792C4">Code Splitting</span> and that static assets should fit seamlessly together through modularization.
<br><br>		
I tried to extend existing module bundlers, but it wasn’t possible to achieve all goals.</p>			
							
					</div>
					
				</div>
				<hr style="border-color:#E2E0D4">
				<p class="red-title">New Coffee Varieties</p>
				<div class="row index-left">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<p><b>MAY 13, 2009</b></p>			
						<p>Posted at 10:14 AM</p>			
						<p>by Bernard Milken</p>			
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<p>Existing module bundlers are not well suited for big projects (big single page applications). The most pressing reason for developing another module bundler was <span style="color:#3792C4">Code Splitting</span> and that static assets should fit seamlessly together through modularization.
<br><br>		
I tried to extend existing module bundlers, but it wasn’t possible to achieve all goals.</p>			
							
					</div>
					
				</div>
				<hr style="border-color:#E2E0D4">
				<p class="red-title">New Coffee Varieties</p>
				<div class="row index-left">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<p><b>MAY 13, 2009</b></p>			
						<p>Posted at 10:14 AM</p>			
						<p>by Bernard Milken</p>			
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<p>Existing module bundlers are not well suited for big projects (big single page applications). The most pressing reason for developing another module bundler was <span style="color:#3792C4">Code Splitting</span> and that static assets should fit seamlessly together through modularization.
<br><br>		
I tried to extend existing module bundlers, but it wasn’t possible to achieve all goals.</p>			
					<button><i class="fa fa-long-arrow-left" style="font-size:10px;"></i> News Archives</button>
					<br><br><br>
					</div>
					
				</div>
		
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="drink-menu">
					<h4>DRINK MENU</h4>
					<p><span class="name">Latte</span><span class="monny">2.79</span></p>
					<p><span class="name">Cappuccino</span><span class="monny">2.99</span></p>
					<p><span class="name">Cafe Americao</span><span class="monny">1.80</span></p>
					<p><span class="name">Esresso</span><span class="monny">2.00</span></p>
					<p><span class="name">Caramel Macchiato</span><span class="monny">10.49</span></p>
				</div>
				<div class="press">
					<h4>PRESS</h4>
					<p><i>“Seeboat Coffee just may be the ost amazing coffee I've ever tasted.”</i><br><br><span>-- Martin Farmer,BranzMag</p>
					<hr style="border-color:#E2E0D4">
					<p><i>“A rare treasure,amongst coffee-related web sites.If six stars were possible,I'd rate it ... seven.”</i><br><br><span>-- Bean THree,Drunk That</p>
					<hr style="border-color:#E2E0D4">
					<p><i>“Mmmmm...”</i><br><br><span>-- Happy Customer</p>
				</div>
				
			</div>

		</div>
		<hr style="border-color:#E2E0D4">	
		<div class="footer">
			<p>Coppyright © 2009.Seeboat Coffee is a ficticious demonstration,handcrafted by <b>SimpleBits</b>.</p>
		</div>
		</div>
</div>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/index.js"></script>

</body>
</html>